<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill Up Your Pet Details</title>
</head>
<body>
<div class="main">
    <div class="register">
    <h2>Pet Profile</h2>
    <form id="register" method="post">
    {% csrf_token %}
    <div class="input-name">
    <label>First Name : </label>
    <br>
    <input type="text" name="firstname" id="name" placeholder="Enter Your First Name">
    </div>
    <br>
    <div class="input-name">
    <label>Last name : </label>
    <br>
    <input type="text" name="lastname" id="name" placeholder="Enter Your Last Name">
    </div>
    <br>
    <div class="input-name">
    <label>Age : </label>
    <br>
    <input type="number" name="age" id="number" placeholder="Enter Your Age">
    </div>
    <br>
    <div class="input-name">
    <label>Email : </label>
    <br>
    <input type="email" name="email" id="email" placeholder="Enter Your Valid Mail">
    </div>
    <br>
    <div class="input-name">
    <label>Contact No. : </label>
    <br>
    <input type="tel" name="contact no." id="number" placeholder="Enter Your Contact Number">
    </div>
    <br>
    <div class="input-name">
    <label>Gender : </label>
    <input type="radio" class="radio-button" name="r1">
    <label>Male</label>
    <input type="radio" class="radio-button" name="r1">
    <label>Female</label>
    </div>
    <br>
    <div class="input-name">
    <label>Pet : </label>
    <select class="Pets">
        <option>Select your pet</option>
        <option>Bird</option>
        <option>Cat</option>
        <option>Dog</option>
        <option>Others</option>
    </select>
    </div>
    <br>
    <div class="input-name">
    <label>Special Marks : </label>
    <input type="text" name="special marks" id="name" placeholder="if any">
    </div>
    <br>
    <div class="input-name">
    <label>Breed : </label>
    <input type="text" name="breed" id="name" placeholder="Enter pets breed">
    </div>
    <br>
    <div class="input-name">
    <label>Start Date : </label>
    <input type="date" name="date" id="date" placeholder="Enter the date">
    </div>
    <br>
    <div class="input-name">
    <label>End date : </label>
    <input type="date" name="date" id="date" placeholder="Enter the date">
    </div>
    <br>
    <div class="input-name">
         <input type="checkbox" class="check-button">
         <label>I accept the terms and conditions.</label>
    </div>
    <br>
    <div class="input-name">
        <input type="submit" value="submit">
    </div>
    </form>
    </div><!--end register-->
</div><!--end main-->
</body>
</html>